@font-face {
    font-family: "RedRose";
    src: url(../assets/red_rose/RedRose-Regular.ttf);
  }

button{

    // width: 20px;
    height: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 5px;
}

// li::after { 
//     content: attr(title); 
//    }

      .infoViewer{
background-color: bisque;
font-size: 20px;
width: 300px;
height: 50px;


line-height: 22px;
/* identical to box height */

display: grid;
align-items: center;
text-align: center;

      }  

      .info{
        background-color: rgb(255, 197, 125);
        font-size: 20px;
        width: 300px;
        height: 25px;
        
        
        line-height: 22px;
        /* identical to box height */
        
        display: grid;
        align-items: center;
        text-align: center;
        
              }  


              .line{

&:hover{
cursor: pointer;
    background-color: rgb(211, 255, 130);
}

              }

li{

    margin-top: 5px;
    background-color: aquamarine;
}

              .crosser{
    margin-top: 50px;
}